<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header">
        <a id="big" href="/"><strong>The Solar System</strong></a>
            <a class="zoom" href="/mercury"> MERCURY </a>
            <a class="zoom" href="/venus"> VENUS </a>
            <a class="zoom" href="/earth"> EARTH </a>
            <a class="zoom" href="/mars"> MARS </a>
        </div>
        <hr>
        <br><br>