<%- include('partials/header.ejs') %>

        <h1> Welcome to the Solar System Site! </h1>
        <img id="planetPic" src="/img/solar-system.jpg" alt="The Solar System" />
        <p> Click on a planet to know more about it:</p>
            
            <a class="zoom" href="/mercury"> MERCURY </a> <br><br>
            <a class="zoom" href="/venus"> VENUS </a> <br><br>
            <a class="zoom" href="/earth"> EARTH </a> <br><br>
            <a class="zoom" href="/mars"> MARS </a> <br><br>

<%- include('partials/footer.ejs') %>